<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="apiKey" value="DEMO_KEY" />
		<add key="urlRoverPhotos" value="https://api.nasa.gov/mars-photos/api/v1/rovers/ROVER_NAME/photos"/>
		<add key="roverPlaceholderKeyword" value="ROVER_NAME"/>
		<add key="attributeCamera" value="camera"/>
		<add key="attributeApiKey" value="api_key"/>
		<add key="attributeEarthDate" value="earth_date"/>
	</appSettings>
</configuration>